raw_data/
.envrc
.env
*.log
*.tmp
*.swp
*.bak
*.old
*.orig
*.pyc
*.pyo
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.iso
*.dmg
*.vmdk
*.vdi
*.qcow2
*.img
*.ova
*.ovf
*.box
*.vagrant
*.vagrant.d
*.vscode
.idea/
.DS_Store
Thumbs.db
node_modules/
dist/
build/
coverage/
*.iml
*.ipr
*.iws
*.suo
*.user
